.my-card-container {
    min-height: 30px;
    max-width: 300px;
    font-size: 1em;
    border: 1px solid black;
    box-shadow: 10px 10px 30px black;
    padding: 20px;
}

.header {
    color: #3b3b3b;
    font-size: 1.2em;
}

.large-header {
    font-size: 1.5em;
}

.x-large-header {
    font-size: 1.8em;
}

.description {
    color: #505050;
    font-size: 1em;
}
.large-description {
    font-size: 1.1em;
}

.x-large-description {    
    font-size: 1.2em;
}