.header {
    color: #3b3b3b;
    font-size: 1.2em;
}

.header.large {
    font-size: 1.5em;
}

.header.x-large {
    font-size: 1.8em;
}

.description {
    color: #505050;
    font-size: 1em;
}
.description.large {
    font-size: 1.1em;
}

.description.x-large {
    font-size: 1.2em;
}